/** @format */
.songRowMain {
  display: flex;
}

.songRowHead {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.songRowHead > h2:hover,
.songRowHead > h5:hover {
  cursor: pointer;
  text-decoration: underline;
}
.songRowHead > h5 {
  opacity: 0.7;
}
.songRow {
  margin-left: 20px;
  padding: 20px;
  display: flex;
  width: 12vw;
  min-width: 10vw;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: white;
  position: relative;
}
/* .songRow_album {
  height: 40%;
} */
.playButton {
  display: none;
  position: absolute;
  top: 45%;
  right: 15%;
  /* font-size: 120px; */
  clip-path: circle(40%);
  background-color: black;
  color: green;
}
.songRow:hover > .songRow__info > .playButton {
  animation: moveUp 0.2s ease-in-out;
  display: block;
  transform: scale(1.2);
  /* transition: transform 6s ease-in-out;
 
  transform: translateY(-6px); */
}
.songRow > img {
  width: 100%;
  height: auto;
  object-fit: contain;
}
.songRow:hover {
  cursor: pointer;
  background-color: black;
  opacity: 0.8;
  border-radius: 5px;
}
.songRow__info {
  margin-left: 20px;
}
.songRow__info > h1 {
  font-size: 16px;
}
.songRow__info > p {
  font-size: 14px;
  margin-top: 3px;
  color: grey;
}

@keyframes moveUp {
  0% {
    top: 47%;
  }
  50% {
    top: 46%;
  }
  100% {
    top: 45%;
  }
}
